dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
.hdevtools.sock
/src/Parser.hs
/src/Parser.info
/demo.org

*.DS_Store
doc/*.aux
doc/*.log
doc/*.bbl
doc/*.out
doc/*.blg
doc/*.synctex.gz
doc/*.fls
doc/auto/
doc/_region_.tex
doc/*.fdb_latexmk
/doc/sections/auto/
.texpadtmp/
*.ptb
